.containerFather{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}



.containerCardProyect{
    width: 100%;
    text-align: center;
}

.containerCardProyect h1{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
}

.containerCardProyect h2{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.containerCardProyect h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}


.container-fluid{
    margin-bottom: 80px
}


.nleft{
    padding-right: 2vw;
}
.nleft img{
    width: 100%;
    height: 50vh;
    object-position: center;
}


.nright{
    border-top: 6px solid #fc047c;
}
.nright .one{
    text-align: left;
    margin-top: 20px;
}
.nright .two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nright h6{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}
.nright span{
    color: #fc047c;
    font-weight: 900;
}
.nright button{
    width: 100%;
}
.nright h5{
    margin-top: 40px;
    font-size: 25px;
    font-weight: 500;
}
.nright img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}



.containerDescription{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerDescription p{
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.12px;
    max-width: 100ch;
}
.containerDescription p::first-letter{
    font-size: 25px;
}