.titleCat,
.flecha {
	color: #fc077d;
}

.dropdrownMenu {
	background-color: #fc077d;
}

.dropdownHeader {
	color: #fedded;
	font-size: medium;
	cursor: default;
}

.dropdownItem {
	color: white;
	font-size: small;
	transition: background-color 0.2s ease, color 0.2s ease;
	cursor: pointer;
}

.dropdownItem:hover {
	background-color: #fedded;
	color: #3f3d3d;
}

.buttonCategory {
	font-weight: bold;
	transition: transform 0.5s ease;
}

.buttonCategory:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

.buttonCategory:active {
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
}

.flecha {
	font-size: 2rem;
}
