.register-container > h3 {
  color: #198754;
}

.group-input {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin: .8rem 0;
}

.group-input > input:focus {
  box-shadow: 0px 0px 0px;
  border: 1px solid green
}

.btn-create {
  width: 8rem;
}