.register-container > h3 {
  color: #198754;
}

.group-input {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0.8rem 0;
}

.group-input > input {
  height: 3rem;
}

.group-input > input:focus {
  box-shadow: 0px 0px 0px;
  border: 1px solid #fc077d;
}

