*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}


body{
  background-color: rgb(235, 235, 235);
  color: #3F3D3D
}

.efectoBoton{
  background-image: linear-gradient(to right, #fc047c 0%, #e904737a 90%, #fc047c 100%);
  padding: 8px;
  margin: 10px;
  text-align: center;
  background-size: 200% auto;
  color: rgb(235, 235, 235);        
  border-radius: 5px;
  border: 0;
  text-decoration: none;
}

.efectoBoton:hover {
  background-position: right center;
  text-decoration: none;
  color: rgb(235, 235, 235);
  transition: all .5s
}
.efectoBoton:active{
  scale: 0.9;
  transition: all .5s
}