@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.efectoBoton {
  background-image: linear-gradient(
    to right,
    #fc047c 0%,
    #e904737a 90%,
    #fc047c 100%
  );
  padding: 8px;
  margin: 10px;
  text-align: center;
  background-size: 200% auto;
  color: rgb(235, 235, 235);
  border-radius: 5px;
  border: 0;
  text-decoration: none;
}

.efectoBoton:hover {
  background-position: right center;
  text-decoration: none;
  color: rgb(235, 235, 235);
  transition: all 0.5s;
}
.efectoBoton:active {
  scale: 0.9;
  transition: all 0.5s;
}

@media screen and (max-width: 1146px) {
  body {
    padding-top: 99px;
  }
}

@media screen and (max-width: 991px) {
  body {
    padding-top: 90px;
  }
}
