*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}


body{
  background-color: rgb(235, 235, 235);
  color: rgb(20, 20, 20);
}




.efectoBoton{
  background-image: linear-gradient(to right, rgb(230, 230, 230) 0%, rgb(211, 211, 211) 51%, rgb(230, 230, 230) 100%);
  padding: 8px;
  margin: 10px;
  text-align: center;
  background-size: 200% auto;
  color: rgb(20, 20, 20);          
  border-radius: 5px;
  border: 0;
  text-decoration: none;
}

.efectoBoton:hover {
  background-position: right center;
  text-decoration: none;
  transition: all .5s
}
.efectoBoton:active{
  scale: 0.9;
  transition: all .5s
}